@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --title-color: #e3dffd;
  --text-color: #4e6e81;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
